<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.cb.test">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".ui.custom_view.CustomViewActivity"
            android:exported="false"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".kotlin.function.FunctionInlineActivity"
            android:exported="false" />
        <activity
            android:name=".ui.constrain.MotionLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".kotlin.flow.KotlinFlowActivity"
            android:exported="false" />
        <activity
            android:name=".ui.material.MaterialActivity"
            android:exported="false" />
        <activity
            android:name=".upload.UploadActivity"
            android:exported="false" />
        <activity
            android:name=".download.DownLoadActivity"
            android:exported="false" />
        <activity
            android:name=".kotlin.coroutines.net.HttpCoroutinesActivity"
            android:exported="false" />
        <activity
            android:name=".kotlin.coroutines.CoroutinesMainActivity"
            android:exported="false" />
        <activity
            android:name=".kotlin.KotlinMainActivity"
            android:exported="false" />
        <activity
            android:name=".jetpack.JetPackActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".StartTimeRecordContentProvider"
            android:authorities="${applicationId}.StartTimeProvider"
            android:exported="false" />

        <service
            android:name=".service.IStudentService"
            android:exported="true"
            android:process=":remote" />
        <service
            android:name=".service.XService"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.scu.finch" />
            </intent-filter>
        </service>
        <service
            android:name=".service.TestService"
            android:exported="false" />

        <activity
            android:name=".ui.aidl.AidlTestActivity"
            android:exported="false" />
        <activity
            android:name=".ui.anim.AnimTestActivity"
            android:exported="false" />
        <activity
            android:name=".mvp.MvpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.scan.QRcodeEncoderActivity"
            android:exported="false" />
        <activity
            android:name=".rx.rxjava.RxJavaMainActivity"
            android:exported="false" />
        <activity
            android:name=".rx.rxjava.RxBackPressureActivity"
            android:exported="false" />
        <activity
            android:name=".rx.rxjava.RxBaseOperatorActivity"
            android:exported="false" />
        <activity
            android:name=".rx.rxjava.RxBooleanActivity"
            android:exported="false" />
        <activity
            android:name=".rx.rxjava.RxChangeOperatorActivity"
            android:exported="false" />
        <activity
            android:name=".rx.rxjava.RxFilterActivity"
            android:exported="false" />
        <activity
            android:name=".rx.rxjava.RxFunctionActivity"
            android:exported="false" />
        <activity
            android:name=".rx.rxjava.RxMergeActivity"
            android:exported="false" />
        <activity
            android:name=".rx.rxjava.SimpleUseActivity"
            android:exported="false" />
        <activity
            android:name=".jetpack.paging.PagingActivity"
            android:exported="false" />
        <activity
            android:name=".jetpack.navigation.NavigationActivity"
            android:exported="false" />
        <activity
            android:name=".jetpack.lifecycles.LifeCyclesActivity"
            android:exported="false" />
        <activity
            android:name=".kotlin.KotlinTestActivity"
            android:exported="false" />
        <activity
            android:name=".kotlin.KotlinSetActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view_pager.BannerActivity"
            android:exported="false" />
        <activity
            android:name=".hook.HookDemoActivity"
            android:exported="false" />
        <activity
            android:name=".CommentWebViewActivity"
            android:exported="false" />
        <activity
            android:name="java.AnnotationTestActivity"
            android:exported="false" />
        <activity
            android:name=".kotlin.flow.FlowHotClodActivity"
            android:exported="false" />
    </application>

</manifest>