<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cb.test">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.rv.RecyclerTestActivity" />
        <activity android:name=".ui.ViewPagerActivity" />
        <activity android:name=".ui.provider.MContentProviderActivity" />

        <provider
            android:name=".ui.provider.BookProvider"
            android:authorities="com.example.cb.test.book.provider"
            android:permission=".ui.provider.permission"
            android:process=":provider" />

        <service android:name=".service.XService">
            <intent-filter>
                <action android:name="cn.scu.finch" />
            </intent-filter>
        </service>

        <activity android:name=".ui.scan.ScanCodeActivity" />
        <activity android:name=".ui.scan.QRcodeEncoderActivity" />
        <activity android:name=".ui.scan.QRcodeDecoderActivity" />
        <activity android:name=".rx.RxJavaTestActivity" />
        <activity android:name=".mvp.MvpActivity" />
        <activity android:name="com.cb.filepicker.ui.FilePickerActivity" />
        <activity android:name=".dagger.DaggerTestActivity" />
        <activity android:name=".KotlinActivity" />
        <activity android:name=".ui.db.DbTestActivity" />
        <activity android:name=".ui.aidl.AidlTestActivity"></activity>
    </application>

</manifest>